/* pilates 이미지팩. 출처는 templates/data/images.json 참조 */
.ph-1{background-image:url("1-cZ0WYsBFHhs.jpg");background-size:cover;background-position:center}
.ph-2{background-image:url("2-0xn-8kRWOhE.jpg");background-size:cover;background-position:center}
.ph-3{background-image:url("3-hiHBILFNah4.jpg");background-size:cover;background-position:center}
.ph-4{background-image:url("4-eA158eRB13E.jpg");background-size:cover;background-position:center}
.ph-5{background-image:url("5-aY5uOJ2o96g.jpg");background-size:cover;background-position:center}
.ph-6{background-image:url("6-5JQxj-zc5ng.jpg");background-size:cover;background-position:center}
.ph-7{background-image:url("7-m56-PAdMhM0.jpg");background-size:cover;background-position:center}
.ph-8{background-image:url("8-5EX5H5enXFs.jpg");background-size:cover;background-position:center}
