/* furniture 이미지팩. 출처는 templates/data/images.json 참조 */
.ph-1{background-image:url("1-3RfIi22Y97Y.jpg");background-size:cover;background-position:center}
.ph-2{background-image:url("2-75yyUu7BVlo.jpg");background-size:cover;background-position:center}
.ph-3{background-image:url("3-rItWuQHaOpM.jpg");background-size:cover;background-position:center}
.ph-4{background-image:url("4-LfhYh6LqCjQ.jpg");background-size:cover;background-position:center}
.ph-5{background-image:url("5-hosmHTot45Q.jpg");background-size:cover;background-position:center}
.ph-6{background-image:url("6-D3r0iKZ8YxE.jpg");background-size:cover;background-position:center}
.ph-7{background-image:url("7-BL6XQLZeXpg.jpg");background-size:cover;background-position:center}
.ph-8{background-image:url("8-Or3zn5zbgzE.jpg");background-size:cover;background-position:center}
