/* brand 이미지팩. 출처는 templates/data/images.json 참조 */
.ph-1{background-image:url("1-sE0gmFKBovY.jpg");background-size:cover;background-position:center}
.ph-2{background-image:url("2-0yW7SvdktME.jpg");background-size:cover;background-position:center}
.ph-3{background-image:url("3-NAIPi9-_Ebo.jpg");background-size:cover;background-position:center}
.ph-4{background-image:url("4-0RBVf2Mvwwo.jpg");background-size:cover;background-position:center}
.ph-5{background-image:url("5-Hj90f-6xnmw.jpg");background-size:cover;background-position:center}
.ph-6{background-image:url("6-71EoX-X3LNU.jpg");background-size:cover;background-position:center}
.ph-7{background-image:url("7-4GvsTa3Y-5I.jpg");background-size:cover;background-position:center}
.ph-8{background-image:url("8--cfd9px-GV8.jpg");background-size:cover;background-position:center}
