/* gym 이미지팩. 출처는 templates/data/images.json 참조 */
.ph-1{background-image:url("1-rbSNsoXk-3A.jpg");background-size:cover;background-position:center}
.ph-2{background-image:url("2-1RNQ11ZODJM.jpg");background-size:cover;background-position:center}
.ph-3{background-image:url("3-Xb1d-N04Quc.jpg");background-size:cover;background-position:center}
.ph-4{background-image:url("4-JA2S6sJWleg.jpg");background-size:cover;background-position:center}
.ph-5{background-image:url("5-IZOAOjvwhaM.jpg");background-size:cover;background-position:center}
.ph-6{background-image:url("6-CQfNt66ttZM.jpg");background-size:cover;background-position:center}
.ph-7{background-image:url("7-WvDYdXDzkhs.jpg");background-size:cover;background-position:center}
.ph-8{background-image:url("8-9dzWZQWZMdE.jpg");background-size:cover;background-position:center}
