/* pension 이미지팩. 출처는 templates/data/images.json 참조 */
.ph-1{background-image:url("1-BNX4W2GDjxI.jpg");background-size:cover;background-position:center}
.ph-2{background-image:url("2-KkxP47SwEW0.jpg");background-size:cover;background-position:center}
.ph-3{background-image:url("3-rEBtw__OruM.jpg");background-size:cover;background-position:center}
.ph-4{background-image:url("4-_putB9cvOtM.jpg");background-size:cover;background-position:center}
.ph-5{background-image:url("5-ajqDp29Pz7M.jpg");background-size:cover;background-position:center}
.ph-6{background-image:url("6-F4Lqq6cPbOw.jpg");background-size:cover;background-position:center}
.ph-7{background-image:url("7-mzVDg_9pAwk.jpg");background-size:cover;background-position:center}
.ph-8{background-image:url("8-n2vj0puCWTo.jpg");background-size:cover;background-position:center}
