/* cleaning 이미지팩. 출처는 templates/data/images.json 참조 */
.ph-1{background-image:url("1-SnKfmC1I9fU.jpg");background-size:cover;background-position:center}
.ph-2{background-image:url("2-SqOMDOQb3ws.jpg");background-size:cover;background-position:center}
.ph-3{background-image:url("3-MwxsRSG1A2s.jpg");background-size:cover;background-position:center}
.ph-4{background-image:url("4-y-bjqTUUw2Q.jpg");background-size:cover;background-position:center}
.ph-5{background-image:url("5-J5KT6e4YLfA.jpg");background-size:cover;background-position:center}
.ph-6{background-image:url("6-5BNyvWLxsFY.jpg");background-size:cover;background-position:center}
.ph-7{background-image:url("7-KqqKF9lDg8Q.jpg");background-size:cover;background-position:center}
.ph-8{background-image:url("8-hHJart2y3W8.jpg");background-size:cover;background-position:center}
