/* cafe 이미지팩. 출처는 templates/data/images.json 참조 */
.ph-1{background-image:url("1-Bpcwz0YuBz0.jpg");background-size:cover;background-position:center}
.ph-2{background-image:url("2--MBz5x33gnQ.jpg");background-size:cover;background-position:center}
.ph-3{background-image:url("3-tnilk4TohRQ.jpg");background-size:cover;background-position:center}
.ph-4{background-image:url("4-m3csqBPnMFw.jpg");background-size:cover;background-position:center}
.ph-5{background-image:url("5-cunEfS-KM8U.jpg");background-size:cover;background-position:center}
.ph-6{background-image:url("6-W17ulL2-qUk.jpg");background-size:cover;background-position:center}
.ph-7{background-image:url("7-ekDdIRQbrwE.jpg");background-size:cover;background-position:center}
.ph-8{background-image:url("8-ZEfHrVDF3NM.jpg");background-size:cover;background-position:center}
