/* nail 이미지팩. 출처는 templates/data/images.json 참조 */
.ph-1{background-image:url("1-OpjlRo-31SI.jpg");background-size:cover;background-position:center}
.ph-2{background-image:url("2--4T7M75CLU4.jpg");background-size:cover;background-position:center}
.ph-3{background-image:url("3-HEnZZWp4I2c.jpg");background-size:cover;background-position:center}
.ph-4{background-image:url("4--Cwlp-10mx4.jpg");background-size:cover;background-position:center}
.ph-5{background-image:url("5-Ao_GSpDMoIc.jpg");background-size:cover;background-position:center}
.ph-6{background-image:url("6-gb6gtiTZKB8.jpg");background-size:cover;background-position:center}
.ph-7{background-image:url("7-zRkla85Xe2o.jpg");background-size:cover;background-position:center}
.ph-8{background-image:url("8-XldjmYB7JpU.jpg");background-size:cover;background-position:center}
